// Media Queries
@mixin mq($point, $query1: min, $query2: width) {
    @media screen and (#{$query1}-#{$query2}: ($point/16 * 1em) + (1/16 * 1em)) {
        @content;
    }
}
@mixin min-max-mq($point1:0, $point2:0) {
    @media screen and (min-width: ($point1/16 * 1em) + (1/16 * 1em)) and (max-width: $point2/16 * 1em) {
        @content;
    }
}

@mixin link-colors($normal, $hover:false, $active:false, $visited:false) {
  color: $normal;

  @if ($hover) {
    &:hover {
      color: $hover;
    }
  }

  @if ($active) {
    &:active {
      color: $active;
    }
  }

  @if ($visited) {
    &:visited {
      color: $visited;
    }
  }
}

// Utilities
@mixin center($p:"xy") {
  position: absolute;
  @if $p == "x" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $p == "y" {
    top: 50%;
    transform: translateY(-50%);
  } else { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }
}